{% include 'blog/blog_navbar.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href={% static "MenteePage/img/logo.png" %}>

        <title>Fifty50 Mentoring Program</title>

        <!-- Theme CSS -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <![endif]-->

        <!-- Bootstrap Core CSS -->
        <link href={% static "MenteePage/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet" type="text/css">

        <!-- Custom Fonts -->
        <link href={% static "MenteePage/vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">

        <!-- Plugin CSS -->
        <link href={% static "MenteePage/vendor/magnific-popup/magnific-popup.css" %} rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
        <link href={% static "MenteePage/css/blog-home.css" %} rel="stylesheet" type="text/css">

        <!-- Theme CSS -->
        <link href={% static "MenteePage/css/creative.min.css" %} rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <style type="text/css">
            @media screen and (min-width: 768px) and (max-width: 1034px) {
                body {
                    padding-top: 100px;
                }
            }
            @media screen and (min-width: 1035px) and (max-width: 1233px) {
                body {
                    padding-top: 50px;
                }
            }
        </style>

    </head>
    <body>

    <!-- Page Content -->
    <div class="container-fluid" style="margin-top:5%;">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Blog Posts
                </h1>

                <!-- Blog Posts -->
                {% for post in posts %}
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p class="lead">by {{ post.author }}</p>
                <p><span class="glyphicon glyphicon-time"></span>{{ post.published_date }}</p>
                <hr>
                  <img src="{{ post.image.url }}" alt="img" width=750px height=500px>
                <hr>
                <p>{{ post.text|linebreaksbr }}</p>
                <a class="btn btn-primary" href="{% url 'post_detail' pk=post.pk %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                {% endfor %}

                <!-- Pager -->
                <ul class="pager" style="padding-bottom:50px;">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <a class="twitter-timeline" href="https://twitter.com/anu_Fifty50" data-height="800">Latest tweets from ANU Fifty50!</a>
            </div>

        </div>
        <!-- /.row -->
        </div>
        <!-- /.container -->

        {% include 'profile_footer.html' %}

        <!-- jQuery -->
        <script src={% static "MenteePage/vendor/jquery/jquery.min.js" %}></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src={% static "MenteePage/vendor/scrollreveal/scrollreveal.min.js" %}></script>
        <script src={% static "MenteePage/vendor/magnific-popup/jquery.magnific-popup.min.js" %}></script>

        <!-- Theme JavaScript -->
        <script src={% static "MenteePage/js/creative.min.js" %}></script>

        <!-- Bootstrap Core JavaScript -->
        <script src={% static "MenteePage/vendor/bootstrap/js/bootstrap.min.js" %}></script>

        <!-- API for ANUFifty50 Twitter Feed -->
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  </body>
</html>
{% endblock %}
